@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rock+Salt|Shadows+Into+Light|Cedarville+Cursive');


.content-cont {
    width: 80vw;
}

.first-page {
    display: flex;
  }
  
  .section-1 {
    width: 50%;
  }
  
  .upper-part {
    display: flex;
    flex-direction: column;
    height: 30vh;
  }
  
  .img1 {
    height: 50px;
    width: 100px;
    transform: rotate(-75deg);
    position: relative; 
    margin-left: 50px;
  }
  
  .img2 {
    height: 40px;
    align-self: flex-end;
    padding: 20px;
  }
  
  .img3 {
    height: 30px;
    width: 60px;
    transform: rotate(0deg);
    position: relative;
    margin-right: 20%;
    align-self: flex-end;
  }
  
  .middle-part {
    display: flex;
  }
  
  .img4 {
    height: 50px;
    position: relative;
    right: 20px;
    z-index: -1;
    align-self: flex-end;
  }
  
  .name {
    font-family: roboto;
    font-size: 20px;
  }
  
  .heading {
    font-family: roboto;
    font-size: 65px;
    font-weight: bold;
  }
  
  .last-part {
    display: flex;
    flex-direction: column;
    height: 20vh;
    align-items: center;
  }

  .section2 {
    padding: 20px;
  }

  .gif {
    height: 100%;
    width: 100%;
  }
  
  .img5 {
    height: 40px;
  }

  .part-2 {
    display: flex;
    align-items: center;  
  }

 .part-3 {
  height: 100vh;
 }

  .head {
    margin-right: 10px;
    width: 30%;
    font-family: roboto;
    font-size: 40px;
  }

  .para {
    margin-right: 10px;
    width: 30%;
    font-family: roboto;
    font-size: 20px;
  }

  .head-part {
    display: flex;
    align-items: center;
  }

  .head1 {
    font-family: roboto;
    font-size: 50px;
    padding: 20px;
  }

  .emoji-1 {
    height: 50px;
  }

  .slider-container {
    padding: 40px;
  }

  .box {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
  }

  .box-color-1 {
    background-color: aquamarine;
  }

  .box-color-2 {
    background-color: hotpink;
  }
  
  .box-color-3 {
    background-color: rgb(162, 147, 230);
  }

  .box-color-4 {
    background-color: rgb(226, 247, 133);
  }

  .box-color-5 {
    background-color: rgba(234, 235, 236, 0.637);
  }

  .emoji-img {
    height: 35px;
    width: 35px;
  }

  .box-head {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
  }

  .box-para {
    font-family: sans-serif;
    font-size: 15px;
  }

  .box-angle {
    transform: rotate(-5deg);
  }

  .img-sec {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
  }

  .flow-img {
    height: 50px;
    width: 50px;
    margin-bottom: 30px;
  }

  .img6 {
    height: 30px;
    width: 60px;
    margin-right: 10vw;
    transform: rotate(20deg);
  }

  .anim-sec {
    display: flex;
    width: 100%;
  }

  .toys {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  .smile-img {
    height: 100px;
  }

  .text-sec {
    width: 50%;
  }

  .part-4 {
    margin-bottom: 10vh;
  }

  .head-sec-4 {
    display: flex;
  }

  .chrono-head {
    font-family: roboto;
    font-size: 20px;
    font-weight: bold;
  }

  .chrono-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 80vh;
    overflow-y: scroll;
  }

  .part-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hr-line {
    border-style: dashed;
    width: 30px;
    flex-grow: 1;
    color: #ffa64d;
    opacity: 0.6;
  }

  .chrono-cont {
    width: 60%;
    text-align: center;
    margin-bottom: 10vh;
  }

  .img-chr {
    height: 18vh;
  }
  
  .part-6 {
    margin-bottom: 10vh;
  }

  .part-7 {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sign {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 25px;
    font-weight: bold;
  }

  .start-btn {
    background-color: #000000;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 15px;
    padding: 5px 15px;
    border-radius: 15px;
  }

  .sm-para {
    color: #000000;
    font-family: sans-serif;
    font-size: 10px;
    opacity: 0.7;
    text-align: center;
    font-weight: 600;
  }


  .part-8 {
    display: flex;
    height: 75vh;
    width: 100%;
  }

  .section-a {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .happy-img {
    height: 50px;
    width: 50px;
    padding-left: 20px;
  }

  .head3 {
    font-family: roboto;
    font-size: 22px;
    padding-left: 20px;
    font-weight: 600;
  }

  .section-b {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .app-name {
    font-family: roboto;
    font-size: 45px;
    color: #7070db;
    font-weight: bold;
    align-self: flex-end;
  }

  .side-scroll {
    height: 50vh;
    overflow-y: scroll;
    scrollbar-color: #476ad1 #edeeec;
    scrollbar-width: thin;
    width: 50%;
    align-self: flex-end;
  }

  .side-cont {
    margin-bottom: 15vh;
  }

  .side-head {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 600;
  }

  .side-para {
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 500;
  }

  .part-9 {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 100%;
  }

  .rows {
    display: flex;
    align-items: center;
    margin-bottom: 20vh;
    width: 100%;
  }

  .items {
    margin: 20px;
    margin-top: 0px;
    padding: 15px;
  }

  .items:hover {
    background-color: #c1db70;
    border-radius: 15px;
  }

  .head4 {
    font-family: roboto;
    font-size: 22px;
  }

  .ul-list {
    font-family: roboto;
    font-size: 18px;
  }

  .details-btn {
    color: #ffffff;
    background-color: #000000;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 20px;
    margin-left: auto;
    display: none;
    cursor: pointer;
    
  }

  .items:hover .details-btn {
    display: block;
  }
