.main-container {
  padding: 55px;
  background-color: #ffffff;
}

.main-cont {
  display: flex;
  width: 95vw;
  padding: 45px 25px;
  flex-direction: column;
  align-items: center;
  background-color: 	#cc99ff;
}